<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<div th:fragment="navbar">

    <nav class="navbar navbar-dark bg-dark px-3">

        <a class="navbar-brand" href="/dashboard">
            HOUSE OF ACE HOTEL
        </a>

        <div class="d-flex gap-3">

            <a sec:authorize="hasRole('ADMIN')"
               class="nav-link text-info"
               href="/users/create">
                CREATE USER
            </a>

            <a sec:authorize="hasRole('RECEPTIONIST')"
               class="nav-link text-success"
               href="/users/create">
                CREATE CUSTOMER
            </a>

            <a class="nav-link text-white" href="/rooms">ROOMS</a>
            <a class="nav-link text-white" href="/bookings/history">BOOKINGS</a>
            <a class="nav-link text-danger" href="/logout">LOGOUT</a>

        </div>

    </nav>

</div>

</body>
</html>