<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<body>

<div th:fragment="sidebar">

    <div class="sidebar">

        <h5>HOUSE OF ACE HOTEL</h5>

        <a href="/dashboard">HOME</a>
        <a href="/rooms">ROOMS</a>
        <a href="/bookings/history">BOOKINGS</a>

        <div th:if="${user != null}">

            <a sec:authorize="hasRole('ADMIN')"
               href="/rooms/new">
                ADD ROOM
            </a>

            <a sec:authorize="hasAnyRole('ADMIN','RECEPTIONIST')"
               href="/users/create">

                <span th:if="${user.role == 'admin'}">CREATE USER</span>
                <span th:if="${user.role == 'receptionist'}">CREATE CUSTOMER</span>

            </a>
            <a sec:authorize="hasAnyRole('ADMIN','RECEPTIONIST')"
               href="/users"> VIEW USERS
            </a>



        </div>

        <hr>

        <a href="/logout" class="text-danger">LOGOUT</a>

    </div>

</div>

</body>
</html>