<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booking</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="main-content">

    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="card p-4 shadow-sm">

        <h4>BOOK ROOM</h4>

        <div th:if="${error}" class="alert alert-danger auto-hide">
            <span th:text="${error}"></span>
        </div>

        <div th:if="${success}" class="alert alert-success auto-hide">
            <span th:text="${success}"></span>
        </div>

        <form th:action="@{/bookings/new}" th:object="${booking}" method="post">

            <input type="hidden" th:field="*{roomId}">

            <input type="date" th:field="*{checkIn}" class="form-control mb-3" required>
            <input type="date" th:field="*{checkOut}" class="form-control mb-3" required>

            <button class="btn btn-success w-100">CONFIRM BOOKING</button>

        </form>

    </div>

</div>

</body>
</html>