<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <title>EDIT ROOM</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<!-- SIDEBAR -->
<div th:replace="fragments/sidebar :: sidebar"></div>

<!-- MAIN -->
<div class="main-content">

    <!-- NAVBAR -->
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container mt-5">

        <div class="row justify-content-center">
            <div class="col-md-6">

                <div class="card shadow p-4">

                    <h3 class="mb-3 text-center">Edit Room</h3>

                    <form th:action="@{'/rooms/edit/' + ${roomId}}"
                          th:object="${room}"
                          method="post">

                        <div class="mb-3">
                            <label>Room Type</label>
                            <select th:field="*{roomType}" class="form-select" required>

                                <option value="">Select Room Type</option>
                                <option value="SINGLE">Single</option>
                                <option value="STUDIO">Studio</option>
                                <option value="QUEEN">Queen</option>
                                <option value="KING">King</option>

                            </select>
                        </div>

                        <div class="mb-3">
                            <label>Price</label>
                            <input type="number"
                                   th:field="*{price}"
                                   class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label>Description</label>
                            <input type="text"
                                   th:field="*{description}"
                                   class="form-control" required>
                        </div>

                        <div class="form-check mb-3">
                            <input type="checkbox"
                                   th:field="*{available}"
                                   class="form-check-input">
                            <label class="form-check-label">Available</label>
                        </div>

                        <button class="btn btn-outline-warning w-100">
                            UPDATE ROOM
                        </button>

                    </form>

                    <a href="/dashboard"
                       class="btn btn-outline-secondary mt-3 w-100">
                        back
                    </a>

                </div>

            </div>
        </div>

    </div>
</div>

</body>
</html>