<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Rooms</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="main-content">

    <div th:replace="fragments/navbar :: navbar"></div>

    <h3>ALL ROOMS</h3>

    <div class="row g-3">

        <div class="col-md-4" th:each="room : ${rooms}">

            <div class="card p-3 shadow h-100">

                <h5 th:text="${room.roomType}"></h5>
                <p th:text="${room.description}"></p>

                <p><strong>₦</strong> <span th:text="${room.price}"></span></p>

                <span th:if="${room.available}" class="text-success">AVAILABLE</span>
                <span th:if="${!room.available}" class="text-danger">UNAVAILABLE</span>

                <a th:href="@{'/rooms/' + ${room.id}}"
                   class="btn btn-dark btn-sm mt-2 w-100">
                    VIEW
                </a>

                <a sec:authorize="hasRole('CUSTOMER')"
                   th:if="${room.available}"
                   th:href="@{'/bookings/new/' + ${room.id}}"
                   class="btn btn-success btn-sm mt-2 w-100">
                    BOOK
                </a>

                <div sec:authorize="hasRole('ADMIN')" class="d-flex gap-2 mt-2">

                    <a th:href="@{'/rooms/edit/' + ${room.id}}"
                       class="btn btn-warning btn-sm w-50">
                        EDIT
                    </a>

                    <a th:href="@{'/rooms/delete/' + ${room.id}}"
                       class="btn btn-danger btn-sm w-50">
                        DELETE
                    </a>

                </div>

            </div>

        </div>

    </div>

</div>

</body>
</html>